@font-face {
  font-family: "Sedgwick Ave Display";
  src: url("yazitipi.woff2") format("woff2");
}
body {
  margin-top: 200px;
  text-align: center;
  background: radial-gradient(#b37eb5, #5f2568);
  font-family: Arial;
}
.page-title {
  color: #ceb6d9;
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: normal;
  text-align: center;
  font-size: 5em;
  position: relative;
  animation: shake 0.9s ease infinite;
}
.calculation {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 80px;
}
.calculator-button {
  height: 100px;
  width: 100px;
  border-radius: 60px;
  border: none;
  font-size: 45px;
  cursor: pointer;
  margin-right: 5px;
  transition: transform 0.2s, box-shadow 0.2s;
}
.calculator-button:hover {
  background-color: #5f2568;
  color: white;
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.purple-button {
  background-color: #e3abce;
  color: white;
}
.blue-button {
  height: 90px;
  width: 90px;
  background-color: #a2c8ec;
  color: #5f2568;
  font-size: 50px;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 7px;
}
.clear-button {
  margin-top: 15px;
  width: 400px;
  height: 75px;
  font-size: 40px;
  font-weight: bold;
  background-color: #f9b0c3;
  border: solid #a2c8ec;
  border-width: 5px;
  border-radius: 20px;
  color: #5f2568;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
